<section class="r-section" id="navbar">
  <h2 id="user-label">
  <% if(user){ %>
    Welcome, <%= user.fname %> <%= user.lname %>
    <% if (user.score) { %>
      Your last score was <%= user.score %>
    <% } %>
    </h2><a href='/assess'><button class="long-button">Take Assessment</button></a><br>
  <% } %>
<% if(user){ %>
  <form action="/user/logout?_method=DELETE" method='post'>
    <input class="long-button" type="submit" value="Logout">
  </form>
  <% } else { %>
    <a href='/user/new'><button class="long-button">Create Account</button></a><br>
    <button id="show-nav" class="long-button">Login</button>
    <form class="nav" action="/user/login" method='post'>
      <label class="nav-hide" for="">Email:</label>
      <input class="nav-hide" type="text" name='email'><br>
      <label class="nav-hide" for="">Password:</label>
      <input class="nav-hide" type="password" name='password'><br>
      <input class="nav-hide long-button" type="submit" value='Login'>
    </form>
<% } %>
</section>
