<header>
  <div id="navbar">
<% if(user){ %>
    <form action="/user/logout?_method=DELETE" method='post'>
      <input class="nav-button" type="submit" value="logout">
    </form>
    <% } else { %>
    <div>
      <a href='/user/new'><button class="nav-button">Create Account</button></a><br>
      <button id="show-nav" class="nav-button">Login</button>
      <form action="/user/login" method='post'>
        <label class="nav-hide nav-label" for="">Email:</label>
        <input class="nav-hide nav-input" type="text" name='email'><br>
        <label class="nav-hide nav-label" for="">Password:</label>
        <input class="nav-hide nav-input" type="password" name='password'><br>
        <input class="nav-hide nav-button" type="submit" value='Login'>
      </form>
    </div>
  <% } %>
  </div>
</header>
