<!DOCTYPE html>
<html>
<% include ../partials/head %>
<body>
<% include ../partials/header %>
  <h1>
<% if(user){ %>
    Welcome, <%= user.fname %> <%= user.lname %>
    <% } else { %>
    Welcome, Guest
    <% } %>
  </h1>
  <section>
    <p>How do you feel?</p><input id="assess1" type="text">
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <p>How do you feel?</p><input id="assess2" type="text">
    <p>How do you feel?</p><input id="assess3" type="text">
    <p>How do you feel?</p><input id="assess4" type="text"><br>
    <button id="assess-submit">submit</button>
  <section>

<div id="modal-bg">

  <div id="modal-content">
    <p id="box1"></p>
    <p id="box2"></p>
    <p id="box3"></p>
    <p id="box4"></p>
    <button id="close-modal">close</button>
  </div>

</div>
</body>
</html>
