<!DOCTYPE html>
<html>
<% include ../partials/head %>
<body>
<% include ../partials/header %>
  <h1>
<% if(user){ %>
    Welcome, <%= user.fname %> <%= user.lname %>
    <% } else { %>
    Welcome, Guest
    <% } %>
  </h1>
  <section>
    <p>How do you feel?</p>
    <div id="b1" class="bubble first"></div>
    <div id="b2" class="bubble first"></div>
    <div id="b3" class="bubble first"></div>
    <p>How do you feel?</p>
    <div id="b1" class="bubble second"></div>
    <div id="b2" class="bubble second"></div>
    <div id="b3" class="bubble second"></div>
    <p>How do you feel?</p>
    <div id="b1" class="bubble third"></div>
    <div id="b2" class="bubble third"></div>
    <div id="b3" class="bubble third"></div>
    <p>How do you feel?</p>
    <div id="b1" class="bubble fourth"></div>
    <div id="b2" class="bubble fourth"></div>
    <div id="b3" class="bubble fourth"></div><br>
    <button id="assess-submit">submit</button>
  <section>

<div id="modal-bg">

  <div id="modal-content">
    <h1>Thanks for filling that out!</h1>
    <p id="box1"></p>
    <p id="box2"></p>
    <p id="box3"></p>
    <p id="box4"></p>
    <button id="close-modal">close</button>
  </div>

</div>
</body>
</html>
