<!DOCTYPE html>
<html>
<% include ../partials/head %>
<body>
<% include ../partials/header %>
  <h1>
<% if(user){ %>
    Welcome, <%= user.fname %> <%= user.lname %>
    <% } else { %>
    Welcome, Guest
    <% } %>
  </h1>
  <section>
    <p>How do you feel?</p>
    <div id="b1" class="bubble first c1"></div>
    <div id="b2" class="bubble first c2"></div>
    <div id="b3" class="bubble first c3"></div>
    <p>How do you feel?</p>
    <div id="b4" class="bubble second c1"></div>
    <div id="b5" class="bubble second c2"></div>
    <div id="b6" class="bubble second c3"></div>
    <p>How do you feel?</p>
    <div id="b7" class="bubble third c1"></div>
    <div id="b8" class="bubble third c2"></div>
    <div id="b9" class="bubble third c3"></div>
    <p>How do you feel?</p>
    <div id="b10" class="bubble fourth c1"></div>
    <div id="b12" class="bubble fourth c2"></div>
    <div id="b13" class="bubble fourth c3"></div><br>
    <button id="assess-submit">submit</button>
  <section>

<div id="modal-bg">

  <div id="modal-content">
    <h1>Thanks for filling that out!</h1>
    <p id="box1"></p>
    <p id="box2"></p>
    <p id="box3"></p>
    <p id="box4"></p>
    <button id="close-modal">close</button>
  </div>

</div>
</body>
</html>
