<!DOCTYPE html>
<html>
<head>
<% include partials/head %>
</head>
<body>
<% include partials/aside %>
  <section class="l-section homepage">
    <h1>
      Welcome to Tracker
    </h1>
    <main>
      <h2>Living with depression is hard enough.<br>You shouldn't have to deal with it alone.</h2>
      <p>Our aim is to make things a little easier for you while you're dealing with depression. Sometimes you need help tracking your symptoms, sometimes you need gentle self-care reminders, and sometimes you need more help than an app can offer (although we hope to help you find it.)</p>
      <p>If you're in crisis, feel free to use the button below to find nearby mental health facilities. If you want to take a symptom assessment, create an account or login to the right.</p>
      <a href="./help"><button class="short-button">Find Help</button></a>
    </main>
  </section>
</body>
</html>
