<!DOCTYPE html>
<html>
<head>
<% include partials/head %>
</head>
<body>
<% include partials/header %>
  <section>
    <h1>
      <% if(user){ %>
      Welcome, <%= user.fname %> <%= user.lname %>
      <% } else { %>
      Welcome to Tracker
      <% } %>
    </h1>
    <article class="intro">
      <p>This is where the instructions will go as far as creating an account, what the app is for as well as a button for someone to find nearby mental health facilities.</p>
    </article>
  </section>
</body>
</html>
