
/*---------------GLOBALS---------------*/
html {
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  background-color: #FFF;
  text-align:center;
}

body {
  margin:0;
}

a {
  text-decoration: none;
  color: black;
}

.logo {
  text-align: left;
}

.logo a {
  font-size:22px;
  padding:5px;
}

.l-section {
  left:0;
  width:70%;
}

.r-section {
  right:0;
  width:30%;
  position:fixed;
  background-color: rgb(120,205,205);
  height:100%;
  z-index:5;
  top:0;
}

input:not([type=submit]){
  -webkit-appearance:none;
  border-radius: 0;
  border:none;
  background-color: rgba(0,0,0,0.1);
  width: 260px;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  margin: 10px 0;
  padding-left:4px;
  height:34px;
  cursor:none;
}

input:focus{
  caret-color: transparent;
  -webkit-appearance:none;
  cursor:none;
  outline:none;
  background-color: rgba(0,0,0,0.4);
}

label {
  padding: 10px;
}

.long-button {
  border-color: darkslategray;
  background-color: white;
  color: darkslategray;
  height: 55px;
  padding: 5px 0;
  width: 215px;
  font-size:18px;
  border-radius: 8%;
  margin-top: 40px;
}

.short-button {
  border-color: darkslategray;
  background-color: white;
  color: darkslategray;
  height: 55px;
  padding: 5px 36px;
  border-radius: 8%;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
}

button:hover{
  background-color: lightgray;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 25px;
}

p {
  font-size: 18px;
}

/*---------------HOME PAGE---------------*/

.homepage main {
  padding: 0 20px;
}

.homepage h1 {
  margin-top: 15vh;
}

.homepage h2 {
  margin-bottom: 5vh;
}

.homepage button {
  margin-top: 30px;
}


/*---------------ASSESSMENT---------------*/

.bubble {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: black 2px solid;
  display: inline-block;
  margin: -12px 3px 5px 3px;
}

.marked {
  background-color: rgb(120,205,205);
}

#modal-bg {
  display:none;
  position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    z-index:6;
}

#modal-content {
    overflow: scroll;
    background-color: rgb(224,245,245);
    margin: 40px auto;
    padding: 20px;
    border: 1px solid black;
    width: 75%;
    height: 80%;
    border-radius:2%;
}

.added {
  margin: 20px;
}

.flagged-content {
  text-align: center;
  margin: 20px 60px;
  line-height: 150%;
}

.results{
  width: 70%;
  text-align: center;
}

.instructions {
  font-weight: bolder;
}

.inst-box {
  width: 100%;
  padding: 20px;
  background-color: rgba(120,205,205, 0.3);
  margin-top: 10px;
}

.forks {
  height: 60px;
  position: relative;
  top:-10px;
  left: -10px;
}

.shower {
  height: 50px;
  position: relative;
  top:-9px;
  left: -9px;
}

.bed {
  height: 50px;
  position: relative;
  top:-10px;
  left: -7px;
}

.ring{
  margin: 15px auto;
  border: black 2px solid;
  border-radius: 50%;
  height: 75px;
  width: 75px;
  postion: relative;
}




/*---------------FIND HELP---------------*/
.facility-link {
  text-decoration: underline;
}

#submit-zip {
  height: 34px;
}



/*---------------CREATE USER---------------*/
.new-user {
  background-color: rgba(120,205,205, 0.3);
  height: 100vh;
  width: 100vw;
}

input.short-button {
  margin-top: 40px;
}


/*---------------SIDE BAR---------------*/


.nav-hide {
  display: none;
  margin: 5px;
}

.nav {
  margin-top: 40px;
}
.nav input{
  margin-bottom:40px;
}


#user-label {
  margin: 40px;
  font-family: 'Raleway Dots', cursive;
}


/*---------------MOBILE---------------*/

@media screen and (max-width : 1000px) {
  .bubble {
    height: 50px;
    width: 50px;
  }
}
