/*OVERALL INFO*/

* {
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

body {
  background-color: white;
  font-family: helvetica;
}

section {
  width:70%;
  text-align: center;
}

.logo {
  text-align: left;
  padding: 12px 20px;
  font-size: 22px;
}


/*HOME PAGE*/
.greeting {
  padding: 80px;
  font-size: 40px;
}

.intro {
  margin: 0 60px;
  /*display:inline;
*/}

h2 {
  font-size:20px;
}

/*ASSESSMENT PAGE*/

.bubble {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: black 2px solid;
  display: inline-block;
  margin: -12px 3px 5px 3px;
}

.marked {
  background-color: rgb(120,205,205);
}

#modal-bg {
  display:none;
  position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

#modal-content {
    overflow: scroll;
    background-color: rgb(224,245,245);
    margin: 40px auto;
    padding: 20px;
    border: 1px solid black;
    width: 80%;
    height: 80%;
    border-radius:2%;
}

.help-button{
  border-color: darkslategray;
  background-color: white;
  color: darkslategray;
  height: 55px;
  width: 150px;
  font-size:17px;
  border-radius: 8%;
  margin: 60px;
}

.added {
  margin: 20px;
}

.flagged-content {
  text-align: center;
  margin: 20px 60px;
  line-height: 150%;
}

#close-modal{
  border-color: darkslategray;
  background-color: white;
  color: darkslategray;
  font-size:17px;
  height: 35px;
  width: 75px;
  border-radius: 8%;
  margin: 20px;
}

.title{
  font-size: 30px;
  padding: 25px 0 20px 0;
  text-align: center;
}

main p {
  margin: 20px;
}

.results{
  width: 70%;
  text-align: center;
}

#assess-submit{
  border-color: darkslategray;
  background-color: white;
  color: darkslategray;
  height: 45px;
  width: 80px;
  font-size:17px;
  border-radius: 8%;
  margin: 20px;
}

.instructions {
  font-weight: bolder;
}

.inst-box {
  width: 100%;
  padding: 10px;
  background-color: rgba(120,205,205, 0.3);
  margin-top: 10px;
}

.forks {
  height: 60px;
  position: relative;
  top:-10px;
  left: -10px;
}

.shower {
  height: 50px;
  position: relative;
  top:-9px;
  left: -9px;
}

.bed {
  height: 50px;
  position: relative;
  top:-10px;
  left: -7px;
}

.ring{
  margin: 15px auto;
  border: black 2px solid;
  border-radius: 50%;
  height: 75px;
  width: 75px;
  postion: relative;
}




/*HELP PAGE*/
.facility-link {
  text-decoration: underline;
}

#zipcode {
  font-size: 17px;
  height: 25px;
  display: inline-block;
  bottom: 40px;
}

#submit-zip{
  border-color: darkslategray;
  background-color: white;
  color: darkslategray;
  height: 35px;
  width: 85px;
  font-size:17px;
  border-radius: 8%;
  margin: 20px;
}



/*CREATE USER PAGE*/

.new-user{
  background-color: rgba(120,205,205, 0.3);
}


.new-main {
  text-align: center;
  margin: 20px;
  font-size: 20px;

}

.new-input {
  height: 20px;
  width: 150px;
  margin: 10px;
}

.new-button {
  border-color: darkslategray;
  background-color: white;
  color: darkslategray;
  height: 50px;
  width: 150px;
  font-size:17px;
  border-radius: 8%;
  margin: 30px;
}




/*NAVBAR STUFF*/

#navbar {
  text-align: center;
  height: 100vh;
  position: fixed;
  width: 30%;
  background-color: rgb(120,205,205);
  right: 0;
}

.nav-hide {
  display: none;
  margin: 5px;
}

.nav-input {
  height: 20px;
  border-radius: 8%;
}

a {
  text-decoration: none;
  color: black;
}

.nav-button{
  border-color: darkslategray;
  background-color: white;
  color: darkslategray;
  height: 55px;
  width: 60%;
  font-size:17px;
  border-radius: 8%;
  margin: 20px;
}

.nav-button:hover{
  background-color: lightgray;
}

.nav-label{
  color: darkslategray;
  font-weight: bolder;
}

#user-label {
  margin: 40px;
  font-family: 'Raleway Dots', cursive;
}
