<!DOCTYPE html>
<html>
<head>
<% include ../partials/head %>
</head>
<body>
  <form action "/user/new" method="post">
    <label for="">First Name:</label>
    <input type="text" name="fname"><br>
    <label for="">Last Name:</label>
    <input type="text" name="lname"><br>
    <label for="">Email:</label>
    <input type="text" name="email"><br>
    <label for="">Password:</label>
    <input type="password" name="password"><br>
    <input type="Submit" value="Create New User">
</form>

</body>
</html>
