<!DOCTYPE html>
<html>
<head>
<% include ../partials/head %>
</head>
<body>
<% include ../partials/aside %>
<div class="logo">
  <a href="/">Tracker</a>
</div>
<section class="l-section">
  <h1 class="title">
  Find help!
  </h1>
  <main>
    <input id="zipcode" type="text" placeholder="zip code">
    <button class="short-button" id="submit-zip">submit</button>
    <article class="help-inst">
      <div class="inst-box">
      <p>Type in your zip code to find local mental health facilities. Click on the name of each facility to be brought to their website.</p>
      </div>
    </article>
  </main>
  <div class="results"></div>
</section>
</body>
</html>
